@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Work+Sans');


html {
  width: fit-content;
}

body {
  margin: 0;
  padding: 0;
  /* font-family: 'Work Sans', sans-serif !important; */
  position: relative;

}



::-webkit-scrollbar {
  width: 10px;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #48bb78;
  border-radius: 10px;
  padding-right: 2px;
}

::selection {
  background: #6deca8;
  color: black;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media (max-width: 600px) {
  .stats {
    width: 100%;
    flex-direction: column;
  }
}